<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
            <a href="https://github.com/{{ site.github_username }}">
                {% icon fa-github-square fa-2x %}
            </a>
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                {% icon fa-linkedin-square fa-2x %}
            </a>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
