@use "variables" as vars;

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: vars.$base-font-family;
    font-size: vars.$base-font-size;
    line-height: vars.$base-line-height;
    font-weight: 300;
    color: vars.$text-color;
    background-color: vars.$background-color;
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
    margin-bottom: calc(vars.$spacing-unit / 2);
}

img {
    max-width: 100%;
    vertical-align: middle;
}

figure > img {
    display: block;
}

figcaption {
    font-size: vars.$small-font-size;
}

ul, ol {
    margin-left: vars.$spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

a {
    color: vars.$text-color;
    text-decoration: none;
    &:hover {
        color: vars.$brand-color;
    }
}

blockquote {
    color: vars.$grey-color;
    border-left: 4px solid vars.$grey-color-light;
    padding-left: calc(vars.$spacing-unit / 2);
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

pre,
code {
    font-size: 15px;
    border: 1px solid vars.$grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%vertical-rhythm {
    margin-bottom: calc(vars.$spacing-unit / 2);
}

.wrapper {
    max-width: calc(800px - (#{vars.$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: vars.$spacing-unit;
    padding-left: vars.$spacing-unit;
    &:after {
        content: "";
        display: table;
        clear: both;
    }

    @include vars.media-query(vars.$on-laptop) {
        max-width: calc(800px - #{vars.$spacing-unit});
        padding-right: calc(vars.$spacing-unit / 2);
        padding-left: calc(vars.$spacing-unit / 2);
    }
}

.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: vars.$grey-color;
        }
    }
}
