---
layout: default
---
<div class="page">
  <header class="page-header">
    <h1 class="page-title">Tags</h1>
  </header>

  <article class="page-content">
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
      <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
      <ul class="post-list">
        {% assign posts = tag[1] | sort: "date" | reverse %}
        {% for post in posts %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </article>
</div>
